@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'klavikaboldwebfont';
	src: url('./klavikaboldwebfont.eot');
	src: local('klavikaboldwebfont'), url('./klavikaboldwebfont.woff') format('woff'), url('./klavikaboldwebfont.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_77695">Text with this font applied</p> */
.fontsforweb_fontid_77695 {
	font-family: 'klavikaboldwebfont' !important;
}

/* Font downloaded from FontsForWeb.com */
.TaskTitle /* Log in page Title */
	{
		text-align: center;
		margin-bottom: 5%;
		border-radius: 25px;
		font-size: 50px;
		font-family: 'klavikaboldwebfont' !important;
		color: #6D8891;
		border: 2px solid #292929;
		border-style: ridge;
		background-color: #292929;
		width: 100%;
		
	}
.login 
	{
	text-align: center;
	font-family: 'klavikaboldwebfont' !important;
	outline-color: #00ff00;
	border: 2px solid #474747;
	border-style: outset;
	border-radius: 15px;
	background-color: #474747;
	width: 50%;
	height: 300px;
	margin-left: 25%;
	}
.body
	{
		background-image: url("images/harmony.jpg");
	}
.indexBody
	{
	background-image: url("images/harmony.jpg");
	}
.IntroParagraph
	{
	text-align: center;
	font-family: 'klavikaboldwebfont' !important;
	color: #545454;
	}
.Task_Container
	{
	margin-left: 10%;
	width: 35%;
	margin-right: 10%;
	}
.title_header
	{
	font-size: 60px;
	}
.ToDoTitle
	{
	text-align: center;
	margin-bottom: 5%;
	border-radius: 25px;
	font-size: 50px;
	font-family: 'klavikaboldwebfont' !important;
	color: #6D8891;
	border: 2px solid #292929;
	border-style: ridge;
	background-color: #292929;
	width: 100%;
	}
.panel-title
	{
	text-align: center;
	}
.AddTask
	{
	text-align: center;
	margin: auto;
	position:absolute;
	}
.AboutContainer
	{
	text-align: center;
	margin: auto;
	width: 65%;
	margin-bottom: 10%
	}
.aboutSection
	{
		border: 2px solid #ddd;
		background-color: #F0F0F0;
		color: #004D4D;
		text-outline: 2px 2px #ff0000;
		margin-bottom: 5%;
		font-family: 'klavikaboldwebfont' !important;
	}
.AboutLeftSidebar{
	float: left;
	position: absolute;
}
.AboutRightSidebar{
	float: right;
	position: absolute;
}
.Header{
		text-align: center;
		margin-bottom: 5%;
		border-radius: 25px;
		font-size: 25px;
		font-family: 'klavikaboldwebfont' !important;
		color: #6D8891;
		border: 2px solid #292929;
		border-style: ridge;
		background-color: #292929;
		width: 100%;
		
}
.Title{
	display: flex;
  	flex-wrap: wrap;
	justify-content: center;
}
.HeaderLog{
	text-align: right;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 100px;
}
.mainFlex{
	display: flex;
	flex-direction: row;
	align-content: space-between;
}
.PriorityReoccur
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.PrioritiesContainer{
	border: 2px solid #ddd;
	background-color: #F0F0F0;
	color: #004D4D;
	text-outline: 2px 2px #ff0000;
	height: 250px;
	width: 250px;
	text-align: center;
	margin-bottom: 5%;
	font-family: 'klavikaboldwebfont' !important;
}
.PrioritiesContainer li{
	font-size: 18px;
}
.ReoccuringContainer{
	border: 2px solid #ddd;
	background-color: #F0F0F0 ;
	color: #004D4D;
	text-outline: 2px 2px #FFFFFF;
	width: 250px;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
	font-family: 'klavikaboldwebfont' !important;
}
.ReoccuringContainer li{
	font-size: 18px;
}
.Links
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.AboutLink{
	display: flex;
}
.ToDoLink{
	display: flex;
}
.CalenderLink{
	text-align: center;
}

.btn {
  background: #7aafbf;
  background-image: -webkit-linear-gradient(top, #7aafbf, #2f96d6);
  background-image: -moz-linear-gradient(top, #7aafbf, #2f96d6);
  background-image: -ms-linear-gradient(top, #7aafbf, #2f96d6);
  background-image: -o-linear-gradient(top, #7aafbf, #2f96d6);
  background-image: linear-gradient(to bottom, #7aafbf, #2f96d6);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.btn:hover {
  background: #6D8891;
  background-image: -webkit-linear-gradient(top, #6D8891, #3498db);
  background-image: -moz-linear-gradient(top, #6D8891, #3498db);
  background-image: -ms-linear-gradient(top, #6D8891, #3498db);
  background-image: -o-linear-gradient(top, #6D8891, #3498db);
  background-image: linear-gradient(to bottom, #6D8891, #3498db);
  text-decoration: none;
}
.btn2 {
  background: #7aafbf;
  background-image: -webkit-linear-gradient(top, #7aafbf, #2f96d6);
  background-image: -moz-linear-gradient(top, #7aafbf, #2f96d6);
  background-image: -ms-linear-gradient(top, #7aafbf, #2f96d6);
  background-image: -o-linear-gradient(top, #7aafbf, #2f96d6);
  background-image: linear-gradient(to bottom, #7aafbf, #2f96d6);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
	margin-left: 42%;
}

.btn2:hover {
  background: #6D8891;
  background-image: -webkit-linear-gradient(top, #6D8891, #3498db);
  background-image: -moz-linear-gradient(top, #6D8891, #3498db);
  background-image: -ms-linear-gradient(top, #6D8891, #3498db);
  background-image: -o-linear-gradient(top, #6D8891, #3498db);
  background-image: linear-gradient(to bottom, #6D8891, #3498db);
  text-decoration: none;
}
.Registration_Title
{
	text-align: center;
	font-family: 'klavikaboldwebfont' !important;
	
	
}
.Registration_Form{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid #ddd;
	background-color: #F0F0F0;
	color: #004D4D;
	text-outline: 2px 2px #ff0000;
	margin-bottom: 5%;
	font-family: 'klavikaboldwebfont' !important;
}
.PriorityClass{
	border: 2px solid #ddd;
	background-color: #F0F0F0 ;
	color: #004D4D;
	width: 75%;
	margin-left: 12.5%;
	text-outline: 2px 2px #FFFFFF;
	text-align: center;
	font-family: 'klavikaboldwebfont' !important;

}
.PriorityTitle{
	
}
.GettingStarted{
	text-align: center;
	border-radius: 25px;
	font-size: 25px;
	font-family: 'klavikaboldwebfont' !important;
	color: #6D8891;
	border: 2px solid #292929;
	border-style: ridge;
	background-color: #292929;
	width: 100%;
}
